<head>
  <title>Categories</title>
</head>

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <app-web-form></app-web-form>

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./index.php">Dashboard</a></li>
          <li class="breadcrumb-item active">Categories</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h4>Add Category</h4>
              </div>
              <form #categoryAdd="ngForm" (ngSubmit)="add(categoryAdd.value)">
                <div class="form-group">
                  <label for="category">Category Name:*</label>
                  <input type="text" placeholder="Category Name" class="form-control" name="name" [(ngModel)]="name" required>
                </div>
                <input type="submit" value="Add Category" name="add-category" class="btn btn-primary">
              </form>
            </div>
          </div>
          <div *ngIf="categoryUp" class="card">
            <div class="card-body">
              <div class="card-title">
                <h4>Edit Category</h4>
              </div>
              <form #categoryUpdate="ngForm" (ngSubmit)="update(categoryUp.categoryId, categoryUpdate.value)">
                <div class="form-group">
                  <label for="category">Edit Category Name:*</label>
                  <input type="text" placeholder="Edit Category Name" class="form-control" name="name" [(ngModel)]="name" value="{{categoryUp.name}}" required>
                </div>
                <input type="submit" value="Edit Category" name="edit-category" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3>Categories</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Categories ID</th>
                      <th>Categories Name</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of categories">
                      <td>{{category.categoryId}}</td>
                      <td>{{category.name}}</td>
                      <td><a (click)="getCategoryById(category.categoryId)"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a></td>
                      <td><button type="button" class="btn btn-primary" (click)="delete(category.categoryId)" data-toggle="modal" data-target="#exampleModal<?php echo $cat_id?>"><i class="fa fa-close"></i></button></td>
                    </tr>
                    <!--<?php
                    }
                    }
                    else{
                    echo "No Categories Found";
                    }
                    ?>-->
                  </tbody>
                </table>
                <div class="modal fade" id="exampleModal<?php echo $cat_id?>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel<?php echo $cat_id?>" style="margin: auto;text-align: center;">Are you sure to delete<br> Category <?php echo $cat_id?>. <?php echo $cat_name?> ?</h3>
                      </div>
                      <div class="modal-footer" style="margin: auto;">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <a href="categories.php?del=<?php echo $cat_id?>"><button type="button" class="btn btn-danger">Yes, delete it !</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->
  <!--**********************************
      Footer start
  ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
      Footer end
  ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->
