<!--<?php
require_once( 'inc/top.php' );
session_start();
if ( !isset( $_SESSION[ 'username' ] ) ) {
  header( 'location: login.php' );
}

if ( isset( $_SESSION[ 'username' ] ) ) {
  $info_username_customer = $_SESSION[ 'username' ];
  $info_query_customer = "select * from account left join customer on accID = accountID where username = '$info_username_customer'";
  $info_run_customer = mysqli_query( $conn, $info_query_customer );

  if ( mysqli_num_rows( $info_run_customer ) > 0 ) {
    $info_row_customer = mysqli_fetch_array( $info_run_customer );
    $info_password_customer = $info_row_customer[ 'password' ];
    $info_name_customer = $info_row_customer[ 'cusName' ];
    $info_email_customer = $info_row_customer[ 'cusEmail' ];
    $info_phonenumber_customer = $info_row_customer[ 'cusPhoneNumber' ];
    $info_address_customer = $info_row_customer[ 'cusAddress' ];
    $info_id_customer = $info_row_customer[ 'accID' ];
  }
}
?>
<title>Profile</title>
</head><body>-->
<!-- Main Wrapper Start Here -->
<div class="wrapper">
  <!-- <?php require_once('inc/header.php');?>-->
  <app-truemart-form></app-truemart-form>
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-area mt-30">
    <div class="container">
      <div class="breadcrumb">
        <ul class="d-flex align-items-center">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="user-profile">Profile</a></li>
        </ul>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Breadcrumb End -->
  <!--**********************************
            Content body start
        ***********************************-->
  <div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="main-thumb-desc nav tabs-area" role="tablist">
            <li><a class="active" data-toggle="tab" href="#profileInfo">Profile Information</a></li>
            <li><a data-toggle="tab" href="#editProfile">Edit Profile</a></li>
            <li><a data-toggle="tab" href="#purchaseHistory">Purcharse History</a></li>
          </ul>
          <!-- Profile Thumbnail Tab Content Start -->
          <div class="tab-content thumb-content border-default">
            <div id="profileInfo" class="tab-pane fade show active">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12 mb-3"><h2>User Information</h2></div>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <div class="form-file">
                          <input type="file" class="inputfile" name="avatar" id="your_picture" disabled/>
                          <label for="your_picture">
                            <figure>
                              <img src="./images/user/form-user.png" alt="" class="your_picture_image">
                            </figure>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name">Full Name <span class="text-danger">*</span></label>
                            <input type="text" name="name" value="Your name" class="form-control" placeholder="Enter full name..." disabled>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="address">Address <span class="text-danger">*</span></label>
                            <input type="text" name="address" value="Your address" class="form-control" placeholder="Enter address..." disabled>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="birthday">Birthday <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input id="datepickerBirthday" type="text" class="form-control mydatepicker" name="birthday" value="8-9-2000" placeholder="mm/DD/yyyy" disabled> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="sex">Sex <span class="text-danger">*</span></label>
                            <select class="form-control" name="sex" disabled>
                              <option value="">-- Choose Sex --</option>
                              <option value="Male" selected>Male</option>
                              <option value="Female">Female</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="phone">Phone Number <span class="text-danger">*</span></label>
                            <input type="text" name="phoneNumber" value="0909090909" class="form-control" placeholder="Enter phone number..." disabled>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="mail">Email <span class="text-danger">*</span></label>
                            <input type="text" name="mail" value="Your mail" class="form-control" placeholder="Enter E-mail..." disabled>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12"><h2>Account Information</h2></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="username">Username <span class="text-danger">*</span></label>
                            <input type="text" name="userName" value="Your username" class="form-control" placeholder="Enter a username..." disabled>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="password">Password <span class="text-danger">*</span></label>
                            <input type="password" name="password" value="Your password" class="form-control" placeholder="Choose a safe one.." disabled>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="editProfile" class="tab-pane fade">
              <div class="card">
                <div class="card-body">
                  <div class="form-validation">
                    <form #userUpdate="ngForm" (ngSubmit)="update(userUpdate.value)">
                      <div class="row">
                        <div class="col-lg-12 mb-3"><h2>Edit User Information</h2></div>
                        <div class="col-lg-3">
                          <div class="input-group">
                            <div class="form-file">
                              <input type="file" class="inputfile" name="avatar" [(ngModel)]="avatar" id="your_picture" onchange="readURL(this);" data-multiple-caption="{count} files selected" multiple />
                              <label for="your_picture">
                                <figure>
                                  <img src="./images/user/form-user.png" alt="" class="your_picture_image">
                                </figure>
                                <span class="file-button">Pick Avatar</span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="name">Full Name <span class="text-danger">*</span></label>
                                <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Enter full name..." required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="address">Address <span class="text-danger">*</span></label>
                                <input type="text" name="address" [(ngModel)]="address" class="form-control" placeholder="Enter address..." required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="birthday">Birthday <span class="text-danger">*</span></label>
                                <div class="input-group">
                                  <input id="datepickerBirthday" type="text" class="form-control mydatepicker" name="birthday" [(ngModel)]="birthday" placeholder="mm/dd/yyyy" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="sex">Sex <span class="text-danger">*</span></label>
                                <select class="form-control" name="sex" [(ngModel)]="sex" required>
                                  <option value="">-- Choose Sex --</option>
                                  <option value="Nam">Female</option>
                                  <option value="Nữ">Male</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="phone">Phone Number <span class="text-danger">*</span></label>
                                <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" placeholder="Enter phone number..." required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="mail">Email <span class="text-danger">*</span></label>
                                <input type="text" name="mail" [(ngModel)]="mail" class="form-control" placeholder="Enter E-mail..." required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12"><h2>Edit Account Information</h2></div>
                        <div class="col-lg-3"></div>
                        <div class="col-lg-9">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="password">Password <span class="text-danger">*</span></label>
                                <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Choose a safe one.." required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="confirm-password">Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" name="confirm-password" [(ngModel)]="password" class="form-control" placeholder="..and confirm it!" required>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-lg-12 td-center">
                          <button type="submit" class="btn btn-primary">Edit User</button>
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <div id="purchaseHistory" class="tab-pane fade">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <h3>Purchase History</h3>
                  </div>
                  <div class="table-responsive">
                    <table id="table-order" class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width: 25%">Order ID</th>
                          <th style="width: 25%">Buy Date</th>
                          <th style="width: 25%">Status</th>
                          <th style="width: 25%">Details</th>
                        </tr>
                      </thead>
                      <tbody id="table-order-body">
                        <tr>
                          <td><?php echo $order_id?></td>
                          <td><?php echo $buy_date?></td>
                          <td>
                            <button type="button" class="btn btn-info">New Order</button>
                            <button type="button" class="btn btn-danger">Delivery</button>
                            <button type="button" class="btn btn-success" style="color:#fff;" disabled>Delivered</button>
                          </td>
                          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLongPurchaseHistory"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal fade" id="exampleModalLongPurchaseHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLongTitle<?php echo $order_id?>">Order Details</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Order ID:</h6>
                              <p> <?php echo $order_id?></p>
                            </div>
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Date:</h6>
                              <p> <?php echo $buy_date?></p>
                            </div>
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Customer:</h6>
                              <p> <?php echo $cus_id?></p>
                            </div>
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Address:</h6>
                              <p> <?php echo $cus_address?></p>
                            </div>
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Email:</h6>
                              <p> <?php echo $email?></p>
                            </div>
                            <div class="col-md-6 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Phone Number:</h6>
                              <p> <?php echo $phonenumber?></p>
                            </div>
                            <div class="col-md-12 pb-10">
                              <h6 style="color:#ea5774;font-weight:600;">Order Note:</h6>
                              <p> <?php echo $order_note?></p>
                            </div>
                            <div class="table-responsive">
                              <table id="table-detail-<?php echo $order_id?>" class="table table-bordered table-striped table-hover">
                                <tr>
                                  <th style="width: 26%">Images</th>
                                  <th style="width: 26%">Product</th>
                                  <th style="width: 16%">Price</th>
                                  <th style="width: 16%">Quantity</th>
                                  <th style="width: 16%">Total</th>
                                </tr>
                                <tr>
                                  <td><img src="./product-img/iphone-11-pro-max-256gb.jpg" style="width: 100%;"></td>
                                  <td>iphone-11-pro-max-256gb</td>
                                  <td>$ 222</td>
                                  <td>1</td>
                                  <td>$ 222</td>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th style="color: #ea5774;">Sub Total:</th>
                                  <th style="color: #ea5774;">$ 222</th>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th style="color: #ea5774;">Taxes:</th>
                                  <th style="color: #ea5774;">$ 1.00</th>
                                </tr>
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th style="color: #ea5774;">Total:</th>
                                  <th style="color: #ea5774;">$ 223</th>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<?php
                  }
                  }
                  ?>-->
                </div>
              </div>
            </div>
          </div>
          <!-- Profile Thumbnail Tab Content End -->
        </div>
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>
  <!--**********************************
            Content body end
        ***********************************-->
  <!-- Support Area Start Here -->
  <div class="support-area bdr-top">
    <div class="container">
      <div class="d-flex flex-wrap text-center">
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-gift"></i> </div>
          <div class="support-desc">
            <h6>Great Value</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-rocket"></i> </div>
          <div class="support-desc">
            <h6>Worlwide Delivery</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-lock"></i> </div>
          <div class="support-desc">
            <h6>Safe Payment</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-enter-down"></i> </div>
          <div class="support-desc">
            <h6>Shop Confidence</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-users"></i> </div>
          <div class="support-desc">
            <h6>24/7 Help Center</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Footer Area Start Here -->
  <footer class="off-white-bg2 pt-50 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Information</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="login.html">FAQs</a></li>
                  <li><a href="login.html">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Customer Service</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Extras</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list address-content">
                  <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                  <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                  <li>
                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                  </li>
                </ul>
                <div class="payment mt-25 bdr-top pt-30">
                  <a href="#"><img class="img" src="truemart/img/payment/1.png" alt="payment-image"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
      <div class="container">
        <div class="footer-middle-content pt-20 pb-30">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img1.png" alt="google play"></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img2.png" alt="app store"></a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
      <div class="container">
        <div class="copyright-text text-center">
          <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
  </footer>
  <!-- Footer Area End Here -->
</div>
<!-- Main Wrapper End Here -->
