<!--<?php require_once('inc/top.php');?>-->
<!--<head>
<title>User Register</title>
</head>-->


  <!--<?php require_once('inc/preload.php');?>-->
  <!--**********************************
          Main wrapper start
      ***********************************-->
<div id="main-wrapper">
  <!-- <?php require_once('inc/web-form.php');?>-->
  <app-web-form></app-web-form>

  <!--**********************************
            Content body start
        ***********************************-->
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./admin/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="./admin/users">Users</a></li>
          <li class="breadcrumb-item active">Register User</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <a href="./admin/users"><button class="btn btn-primary" style="float:left;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                </div>
              </div>
              <div class="form-validation">
                <form #userAdd="ngForm" (ngSubmit)="add(userAdd.value)">
                  <div class="row">
                    <div class="col-lg-12 mb-3"><h2>User Information</h2></div>
                    <div class="col-lg-3">
                      <div class="input-group">
                        <div class="form-file">
                          <input type="file" class="inputfile" name="avatar" [(ngModel)]="avatar" id="your_picture" onchange="readURL(this);" data-multiple-caption="{count} files selected" multiple />
                          <label for="your_picture">
                            <figure>
                              <img src="./images/user/form-user.png" alt="" class="your_picture_image">
                            </figure>
                            <span class="file-button">Pick Avatar</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name">Full Name <span class="text-danger">*</span></label>
                            <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Enter full name..." required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="address">Address <span class="text-danger">*</span></label>
                            <input type="text" name="address" [(ngModel)]="address" class="form-control" placeholder="Enter address..." required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <script>
                            $(function () {
                              $("#datepickerBirthday").datepicker();
                            });
                          </script>
                          <div class="form-group">
                            <label for="birthday">Birthday <span class="text-danger">*</span></label>
                            <div class="input-group">
                              <input id="datepickerBirthday" type="text" class="form-control mydatepicker" name="birthday" [(ngModel)]="birthday" placeholder="yyyy-mm-dd" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="sex">Sex <span class="text-danger">*</span></label>
                            <select class="form-control" name="sex" [(ngModel)]="sex" required>
                              <option value="">-- Choose Sex --</option>
                              <option value="Nam">Nam</option>
                              <option value="Nữ">Nữ</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="phone">Phone Number <span class="text-danger">*</span></label>
                            <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" placeholder="Enter phone number..." required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="mail">Email <span class="text-danger">*</span></label>
                            <input type="text" name="mail" [(ngModel)]="mail" class="form-control" placeholder="Enter E-mail..." required>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12"><h2>Account Information</h2></div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="permission">Permission <span class="text-danger">*</span></label>
                            <select class="form-control" name="roleId" [(ngModel)]="roleId" required>
                              <option value="">-- Choose Permission --</option>
                              <option value="1">Admin</option>
                              <option value="2">Customer</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="username">Username <span class="text-danger">*</span></label>
                            <input type="text" name="userName" [(ngModel)]="userName" class="form-control" placeholder="Enter a username..." required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="password">Password <span class="text-danger">*</span></label>
                            <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Choose a safe one.." required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="confirm-password">Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" name="confirm-password" class="form-control" placeholder="..and confirm it!" required>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12 td-center">
                      <button type="submit" class="btn btn-primary">Add User</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
            Content body end
        ***********************************-->
  <!--**********************************
            Footer start
        ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
            Footer end
        ***********************************-->
</div>
  <!--**********************************
          Main wrapper end
      ***********************************-->
  <!--<?php require_once('inc/footer.php');?>-->
