<!--<?php require_once('inc/top.php');?>
<title>Add Product</title>

</head>

<body>-->
<!--<?php require_once('inc/preload.php');?>-->
<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
  <!--<?php require_once('inc/web-form.php');?>-->
  <!--**********************************
            Content body start
        ***********************************-->
  <app-web-form></app-web-form>
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="./products">Products</a></li>
          <li class="breadcrumb-item active">Add Product</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3>Add Product</h3>
              </div>
              <form #productAdd="ngForm" (ngSubmit)="add(productAdd.value)" enctype="multipart/form-data">

                <div class="form-group">
                  <label for="category">Product Name:*</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                  <label for="category">Price:*</label>
                  <input type="number" class="form-control" name="price" [(ngModel)]="price" min="0" required>
                </div>
                <div class="form-group">
                  <label for="category">Sale:*</label>
                  <input type="number" class="form-control" name="sale" [(ngModel)]="sale" min="0" max="100" required>
                </div>
                <div class="form-group">
                  <label for="category">Subcate:*</label>
                  <div class="box">
                    <select name="subcategoryId" [(ngModel)]="subcategoryId">
                      <option *ngFor="let subcategory of subcategories" value={{subcategory.subcategoryId}}>{{subcategory.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category">Status:*</label>
                  <div class="box">
                    <select name="status" [(ngModel)]="status">
                      <option value="0">Saling</option>
                      <option value="1">New</option>
                      <option value="2">Hot</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category">Quantity:*</label>
                  <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity" min="0" max="1000" required>
                </div>
                <div class="form-group">
                  <label for="category">Description:*</label>
                  <input type="text" class="form-control" name="description" [(ngModel)]="description" required>
                </div>
                <div class="form-group">
                  <label for="category">Image:*</label>
                  <input type="file" class="form-control" name="image" [(ngModel)]="image" required>
                </div>
                <div class="form-group">
                  <input type="submit" value="Add Product" name="add-product1" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <!--**********************************
            Content body end
        ***********************************-->
  <!--**********************************
            Footer start
        ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
            Footer end
        ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->
<!--?php require_once('inc/footer.php');?>-->
