<!-- <?php require_once('inc/top.php');?>
<title>Products</title>
<?php
if ( isset( $_GET[ 'del' ] ) and isset($_SESSION['usernameadmin']) ) {
  $del_id = $_GET[ 'del' ];
  $del_query = "UPDATE `product` SET `status_pro` = '0' WHERE `product`.`pid` = '$del_id'";
	#UPDATE `product` SET `status_pro` = '0' WHERE `product`.`pid` = 20;
  //$del_run
  if ( mysqli_query( $conn, $del_query ) ) {
    	echo "<script>alert('Delete product success! Product has been deleted.');window.location='./products.php'</script>";
	}
	else{
		echo "<script>alert('Delete product fail! Some error has occurred.');window.location='./products.php'</script>";
    }
}

?>
</head> -->

<!-- <body> -->
<!-- <?php require_once('inc/preload.php');?> -->

<!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!-- <?php require_once('inc/web-form.php');?> -->
      
      <!--**********************************
                Content body start
            ***********************************-->
      <div class="content-body">
        <div class="row page-titles mx-0">
          <div class="col p-md-0">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./index.php">Dashboard</a></li>
              <li class="breadcrumb-item active">Products</li>
            </ol>
          </div>
        </div>
        <!-- row -->
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <h3>Products</h3>
                  </div>
            <a href="addproduct.php"><button style="margin-bottom: 20px" class='btn btn-primary'><span style="margin-right: 10px">Add Product</span><i class="fa fa-plus"></i></button></a>
                  <div class="table-responsive">
                    <table id="table-order" class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width:5%";>ID</th>
                          <th style="width:15%";>Product Name</th>
                          <th style="width:10%";>Price</th>
                          <th style="width:5%";>Sale</th>
                          <th style="width:10%";>New Price</th>
                          <th style="width:10%";>Sub-category ID</th>
                          <th style="width:20%";>Description</th>
                          <th style="width:15%";>Image</th>
                          <th style="width:5%";>Edit</th>
                          <th style="width:5%";>Delete</th>
                        </tr>
                      </thead>
                      <tbody id="table-order-body">
                        <!-- <?php
                        $query = "select * from `product` where `product`.`status_pro` = 1 order by pid asc";
                        $run = mysqli_query( $conn, $query );
                        if ( mysqli_num_rows( $run ) > 0 ) {
                          while ( $row = mysqli_fetch_array( $run ) ) {
                            $pro_id = $row[ 'pid' ];
                            $pro_name = $row[ 'pname' ];
                            $pro_price = $row[ 'price' ];
                $pro_sale = $row[ 'sale' ];
                $pro_newprice = $row[ 'new_price' ];
                            $pro_subcate = $row[ 'subcate_id' ];
                            $pro_des = $row[ 'descr' ];
                            $pro_image = $row[ 'img' ];
                            ?>  -->
                            <tr>
                  <td><?php echo $pro_id?></td>
                  <td><?php echo $pro_name?></td>
                  <td>$<?php echo $pro_price?></td>
                  <td><?php echo $pro_sale?>%</td>
                  <td>$<?php echo $pro_newprice?></td>
                  <td><?php echo $pro_subcate?></td>
                  <td><p><?php echo $pro_des?></p></td>
                  <td><img src="./product-img/<?php echo $pro_image; ?>" alt="" style="width:100%";/></td>
                  <td><a href="./editproduct.php?id=<?php echo $pro_id?>"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong<?php echo $pro_id?>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a></td>
                  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<?php echo $pro_id?>"><i class="fa fa-trash-o"></i></button></td>
                </tr>	
                <div class="modal fade" id="exampleModal<?php echo $pro_id?>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel<?php echo $pro_id?>" style="margin: auto;">Are you sure to delete Product ID: <?php echo $pro_id?> ?</h3>
                  </div>
                  <div class="modal-footer" style="margin: auto;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a href="products.php?del=<?php echo $pro_id?>">
                    <button type="button" class="btn btn-danger">Yes, delete it !</button>
                    </a> 
                  </div>
                  </div>
                </div>
                </div>
                <!-- <?php
                }
                      } else {
                        echo "No Products Found";
                      }
                      ?> -->
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #/ container --> 
      </div>
      <!--**********************************
                Content body end
            ***********************************--> 
      
      <!--**********************************
                Footer start
            ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
        </div>
      </div>
      <!-- **********************************
                Footer end
            *********************************** 
    </div>
    **********************************
            Main wrapper end
        ***********************************-->
    
    <!-- <?php require_once('inc/footer.php');?>-->