<!-- Main Wrapper Start Here -->
<div class="wrapper">
  <app-truemart-form></app-truemart-form>
  <div class="slider_box">
    <div class="slider-wrapper theme-default">
      <!-- Slider Background  Image Start-->
      <div id="slider" class="nivoSlider"> <a href="shop"><img src="./truemart/img/slider/5.jpg" data-thumb="./truemart/img/slider/5.jpg" alt="" title="#htmlcaption" /></a> <a href="shop"><img src="./truemart/img/slider/6.jpg" data-thumb="./truemart/img/slider/6.jpg" alt="" title="#htmlcaption2" /></a> </div>
      <!-- Slider Background  Image Start-->
    </div>
  </div>
  <!-- Brand Banner Area Start Here -->
  <div class="image-banner pt-30 pb-30">
    <div class="container">
      <div class="col-img"> <img src="./truemart/img/banner/h1-banner.jpg" alt="image banner"> </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Brand Banner Area End Here -->
  <!-- Shop Page Start -->
  <div class="main-shop-page pt-100 pb-100 ptb-sm-60">
    <div class="container">
      <!-- Row End -->
      <div class="row">
        <!-- Sidebar Shopping Option Start -->
        <div class="col-lg-3 order-2 order-lg-1">
          <div class="sidebar">
            <!-- Sidebar Categorie Start -->
            <div class="electronics mb-40">
              <h3 class="sidebar-title">Categories</h3>
              <div id="shop-cate-toggle" class="category-menu sidebar-menu sidbar-style">
                <ul *ngIf="categories">
                  <li class="has-sub" *ngFor="let cate of categories">
                    <a onclick="categoriesShow(event)">{{cate.name}}</a>
                    <ul *ngIf="getSubcategoriesByCategoryId(cate.categoryId).length > 0" class="category-sub">
                      <li *ngFor="let sub of getSubcategoriesByCategoryId(cate.categoryId)">
                        <a href="shop/s{{sub.subcategoryId}}">{{sub.name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- category-menu-end -->
            </div>
            <!-- Sidebar Categorie End -->
            <!-- Single Banner Start -->
            <div class="col-img"> <a href="shop.php"><img src="truemart/img/banner/banner-sidebar.jpg" alt="slider-banner"></a> </div>
            <!-- Single Banner End -->
          </div>
        </div>
        <!-- Sidebar Shopping Option End -->
        <!-- Product Categorie List Start -->
        <div class="col-lg-9 order-1 order-lg-2">
          <div class="main-categorie mb-all-40">
            <!-- Grid & List Main Area End -->
            <div class="tab-content fix">
              <div id="grid-view" class="tab-pane fade show active" *ngIf="products">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-6" *ngFor="let prod of products">
                    <div *ngIf="prod" class="single-product">
                      <form action="#" method="POST">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="productshop/{{prod.productId}}">
                            <img class="primary-img" src="product-img/{{prod.image}}" alt="single-product">
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <div class="pro-info">
                            <input type="hidden" name="pro_id" value="<?php echo $pro_id?>">
                            <h4><a href="productshop/{{prod.productId}}">{{prod.name}}</a></h4>
                            <p><span *ngIf="prod.sale == 0" class="price">$ {{prod.price}}</span><del *ngIf="prod.sale != 0" class="prev-price">$ {{prod.price}}</del></p>
                            <div *ngIf="prod.sale != 0" class="label-product l_sale">{{prod.sale}}<span class="symbol-percent">%</span></div>
                            <p *ngIf="prod.sale != 0"><span class="price">$ {{1*prod.price - (1*prod.price*30/100)}}</span></p>
                          </div>
                          <div class="pro-actions">
                            <div class="actions-primary">
                              <input *ngIf="customer" (click)="addToCard(prod.productId)" type="submit" title="Add to Cart" name="p_add" value="+ Add To Cart" style="margin-top: 35px;">

                              <input *ngIf="!customer" routerLink="/loginshop" type="submit" title="Add to Cart" name="p_add" value="+ Add To Cart" style="margin-top: 35px;">

                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Row End -->
                <nav *ngIf="arNum" class="float-right" aria-label="Page navigation example">
                  <ul class="pagination">
                    <li (click)="setIndexPage(indexPage - 1)" class="page-item"><a class="page-link">Previous</a></li>
                    <li *ngIf="indexPage > 1 && maxPage > 3" class="page-item"><a class="page-link">...</a></li>
                    <li *ngIf="indexPage == maxPage - 1 && indexPage > 1" class="page-item"><a class="page-link">{{indexPage - 1}}</a></li>
                    <li *ngIf="indexPage != 0" class="page-item"><a class="page-link">{{indexPage}}</a></li>
                    <li class="page-item"><a class="page-link alert-primary">{{indexPage + 1}}</a></li>
                    <li *ngIf="indexPage != maxPage - 1 && maxPage > 1" class="page-item"><a class="page-link">{{indexPage + 2}}</a></li>
                    <li *ngIf="indexPage == 0 && maxPage > 2" class="page-item"><a class="page-link">{{indexPage + 3}}</a></li>
                    <li *ngIf="indexPage < maxPage - 2 && maxPage > 3" class="page-item"><a class="page-link">...</a></li>
                    <li (click)="setIndexPage(indexPage + 1)" class="page-item"><a class="page-link">Next</a></li>
                  </ul>
                </nav>
              </div>

            </div>
            <!-- Grid & List Main Area End -->
          </div>
        </div>
        <!-- product Categorie List End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>
  <!-- Shop Page End -->
  <!-- Support Area Start Here -->
  <div class="support-area bdr-top">
    <div class="container">
      <div class="d-flex flex-wrap text-center">
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-gift"></i> </div>
          <div class="support-desc">
            <h6>Great Value</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-rocket"></i> </div>
          <div class="support-desc">
            <h6>Worlwide Delivery</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-lock"></i> </div>
          <div class="support-desc">
            <h6>Safe Payment</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-enter-down"></i> </div>
          <div class="support-desc">
            <h6>Shop Confidence</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-users"></i> </div>
          <div class="support-desc">
            <h6>24/7 Help Center</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Footer Area Start Here -->
  <footer class="off-white-bg2 pt-50 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Information</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="login.html">FAQs</a></li>
                  <li><a href="login.html">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Customer Service</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Extras</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list address-content">
                  <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                  <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                  <li>
                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                  </li>
                </ul>
                <div class="payment mt-25 bdr-top pt-30">
                  <a href="#"><img class="img" src="truemart/img/payment/1.png" alt="payment-image"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
      <div class="container">
        <div class="footer-middle-content pt-20 pb-30">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img1.png" alt="google play"></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img2.png" alt="app store"></a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
      <div class="container">
        <div class="copyright-text text-center">
          <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
  </footer>
  <!-- Footer Area End Here -->
</div>
<!-- Main Wrapper End Here -->
