<!-- <?php
require_once( 'inc/top.php' );
session_start();
?>
<title>Shop || Truemart Responsive Html5 Ecommerce Template</title>
</head><body> -->
<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
<!-- Main Wrapper Start Here -->
<div class="wrapper">
  <!-- <?php require_once('inc/header.php');?> -->
  <app-truemart-form></app-truemart-form>
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-area mt-30">
    <div class="container">
      <div class="breadcrumb">
        <ul class="d-flex align-items-center">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#">Shop</a></li>
        </ul>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Breadcrumb End -->
  <!-- Shop Page Start -->
  <div class="main-shop-page pt-100 pb-100 ptb-sm-60">
    <div class="container">
      <!-- Row End -->
      <div class="row">
        <!-- Sidebar Shopping Option Start -->
        <div class="col-lg-3 order-2 order-lg-1">
          <div class="sidebar">
            <!-- Sidebar Categorie Start -->
            <div class="electronics mb-40">
              <h3 class="sidebar-title">Categories</h3>
              <div id="shop-cate-toggle" class="category-menu sidebar-menu sidbar-style">
                <ul *ngIf="categories">
                  <li class="has-sub" *ngFor="let cate of categories">
                    <a onclick="categoriesShow(event)">{{cate.name}}</a>
                    <ul *ngIf="getSubcategoriesByCategoryId(cate.categoryId).length > 0" class="category-sub">
                      <li *ngFor="let sub of getSubcategoriesByCategoryId(cate.categoryId)">
                        <a href="shop/s{{sub.subcategoryId}}">{{sub.name}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- category-menu-end -->
            </div>
            <!-- Sidebar Categorie End -->
            <!-- Single Banner Start -->
            <div class="col-img"> <a href="shop.php"><img src="truemart/img/banner/banner-sidebar.jpg" alt="slider-banner"></a> </div>
            <!-- Single Banner End -->
          </div>
        </div>
        <!-- Sidebar Shopping Option End -->
        <!-- Product Categorie List Start -->
        <div class="col-lg-9 order-1 order-lg-2">
          <!-- Grid & List View Start -->
          <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
            <div class="grid-list-view  mb-sm-15">
              <ul class="nav tabs-area d-flex align-items-center">
                <li><a class="active" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
              </ul>
            </div>
            <!-- Toolbar Short Area Start -->
            <div class="main-toolbar-sorter clearfix">
              <div class="toolbar-sorter d-flex align-items-center">
                <label>Sort By:</label>
                <select class="sorter wide">
                  <option value="Position">Relevance</option>
                  <option value="Product Name">Neme, A to Z</option>
                  <option value="Product Name">Neme, Z to A</option>
                  <option value="Price">Price low to heigh</option>
                  <option value="Price" selected>Price heigh to low</option>
                </select>
              </div>
            </div>
            <!-- Toolbar Short Area End -->
            <!-- Toolbar Short Area Start -->
            <div class="main-toolbar-sorter clearfix">
              <div class="toolbar-sorter d-flex align-items-center">
                <label>Show:</label>
                <select class="sorter wide">
                  <option value="12">12</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>
            <!-- Toolbar Short Area End -->
          </div>
          <!-- Grid & List View End -->
          <div class="main-categorie mb-all-40">
            <!-- Grid & List Main Area End -->
            <div class="tab-content fix">
              <div id="grid-view" class="tab-pane fade show active" *ngIf="products">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-6" *ngFor="let prod of products">
                    <div class="single-product">
                      <form action="#" method="POST">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="truemart/product/{{prod.productId}}">
                            <img class="primary-img" src="product-img/{{prod.image}}" alt="single-product">
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <div class="pro-info">
                            <input type="hidden" name="pro_id" value="<?php echo $pro_id?>">
                            <h4><a href="truemart/product/{{prod.productId}}">{{prod.name}}</a></h4>
                            <p><span *ngIf="prod.sale == 0" class="price">$ {{prod.price}}</span><del *ngIf="prod.sale != 0" class="prev-price">$ {{prod.price}}</del></p>
                            <div *ngIf="prod.sale != 0" class="label-product l_sale">{{prod.sale}}<span class="symbol-percent">%</span></div>
                            <p *ngIf="prod.sale != 0"><span class="price">$ {{1*prod.price - (1*prod.price*30/100)}}</span></p>
                          </div>
                          <div class="pro-actions">
                            <div class="actions-primary">
                              <input type="submit" title="Add to Cart" name="p_add" value="+ Add To Cart" style="margin-top: 35px;">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- <?php
                  }
                  } else {
                    echo "<div class='col-lg-4 col-md-4 col-sm-6 col-6'><span style='color:red;'>No Products Found</span></div>";
                  }
                  ?> -->
                </div>
                <!-- Row End -->
              </div>
              <div class="pro-pagination">
                <ul class="blog-pagination">
                  <!-- <?php
                  if ( isset( $_GET[ 'cat' ] ) ) {
                    if ( $current_page > 1 && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?cat=' . $cat_id_pro . '&page=' . ( $current_page - 1 ) . '" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>';
                    }
                    for ( $i = 1; $i <= $total_page; $i++ ) {
                      if ( $i == $current_page )
                        echo '<li class="active"><a href="shop.php?cat=' . $cat_id_pro . '&page=' . ( $current_page ) . '">' . $i . '</a></li>';
                      else
                        echo '<li><a href="shop.php?cat=' . $cat_id_pro . '&page=' . $i . '">' . $i . '</a></li>';
                    }
                    if ( $current_page < $total_page && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?cat=' . $cat_id_pro . '&page=' . ( $current_page + 1 ) . '" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>';
                    }
                  } else if ( isset( $_GET[ 'subcat' ] ) ) {
                    if ( $current_page > 1 && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?subcat=' . $subcat_id_pro . '&page=' . ( $current_page - 1 ) . '" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>';
                    }
                    for ( $i = 1; $i <= $total_page; $i++ ) {
                      if ( $i == $current_page )
                        echo '<li class="active"><a href="shop.php?subcat=' . $subcat_id_pro . '&page=' . ( $current_page ) . '">' . $i . '</a></li>';
                      else
                        echo '<li><a href="shop.php?subcat=' . $subcat_id_pro . '&page=' . $i . '">' . $i . '</a></li>';
                    }
                    if ( $current_page < $total_page && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?subcat=' . $subcat_id_pro . '&page=' . ( $current_page + 1 ) . '" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>';
                    }
                  } else {
                    if ( $current_page > 1 && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?page=' . ( $current_page - 1 ) . '" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>';
                    }
                    for ( $i = 1; $i <= $total_page; $i++ ) {
                      if ( $i == $current_page )
                        echo '<li class="active"><a href="shop.php?page=' . ( $current_page ) . '">' . $i . '</a></li>';
                      else
                        echo '<li><a href="shop.php?page=' . $i . '">' . $i . '</a></li>';
                    }
                    if ( $current_page < $total_page && $total_page > 1 ) {
                      echo '<li>
                                <a href="shop.php?page=' . ( $current_page + 1 ) . '" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>';
                    }
                  }
                  ?> -->
                </ul>
                <!--<div class="product-pagination"> <span class="grid-item-list">Showing <?php echo $start+1?> to <?php echo $start+$pro_in_page?> of <?php echo $count?> (<?php echo $i-1?> Pages)</span> </div>-->
              </div>
              <!-- Product Pagination Info -->
            </div>
            <!-- Grid & List Main Area End -->
          </div>
        </div>
        <!-- product Categorie List End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>
  <!-- Shop Page End -->
  <!-- Support Area Start Here -->
  <div class="support-area bdr-top">
    <div class="container">
      <div class="d-flex flex-wrap text-center">
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-gift"></i> </div>
          <div class="support-desc">
            <h6>Great Value</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-rocket"></i> </div>
          <div class="support-desc">
            <h6>Worlwide Delivery</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-lock"></i> </div>
          <div class="support-desc">
            <h6>Safe Payment</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-enter-down"></i> </div>
          <div class="support-desc">
            <h6>Shop Confidence</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-users"></i> </div>
          <div class="support-desc">
            <h6>24/7 Help Center</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Footer Area Start Here -->
  <footer class="off-white-bg2 pt-50 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Information</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="login.html">FAQs</a></li>
                  <li><a href="login.html">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Customer Service</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Extras</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list address-content">
                  <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                  <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                  <li>
                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                  </li>
                </ul>
                <div class="payment mt-25 bdr-top pt-30">
                  <a href="#"><img class="img" src="truemart/img/payment/1.png" alt="payment-image"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
      <div class="container">
        <div class="footer-middle-content pt-20 pb-30">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img1.png" alt="google play"></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img2.png" alt="app store"></a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
      <div class="container">
        <div class="copyright-text text-center">
          <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
  </footer>
  <!-- Footer Area End Here -->
</div>
<!-- Main Wrapper End Here -->
