<!-- <?php
require_once( 'inc/top.php' );
session_start();
?>
<title>Cart || Truemart Responsive Html5 Ecommerce Template</title> -->
<!-- <style>
.btn-cart {
    border-color: #363f4d;
    background: #363f4d none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: inherit;
    border-radius: 4px;
}
.btn-cart:hover {
    background-color: #e62e04;
    border-color: #e62e04;
}
.table-content table td.product-remove i {
    color: #fff;
}
.table-content table td.product-remove a:hover i {
    color: #fff;
}
</style> -->
<!-- </head><body> -->
<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
<!-- Main Wrapper Start Here -->
<div class="wrapper">
  <app-truemart-form></app-truemart-form>
  <!-- <?php require_once('inc/header.php');?> -->
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-area mt-30">
    <div class="container">
      <div class="breadcrumb">
        <ul class="d-flex align-items-center">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="cart">Cart</a></li>
        </ul>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Breadcrumb End -->
  <!-- Cart Main Area Start -->
  <div class="cart-main-area ptb-100 ptb-sm-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <!-- Form Start -->
          <form>
            <!-- Table Content Start -->
            <div class="table-content table-responsive mb-45">
              <table>
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price ($)</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-subtotal">Total ($)</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <?php
                  if ( isset( $_SESSION[ 'cart' ] ) ) {
                    $totalprice = 0;
                    $pro_id = array_column( $_SESSION[ 'cart' ], 'pro_id' );
                    $query = "SELECT * FROM product WHERE 1";
                    $run = mysqli_query( $conn, $query );
                    if ( mysqli_num_rows( $run ) > 0 ) {
                      while ( $row = mysqli_fetch_array( $run ) ) {
                        if ( !empty( $_SESSION[ 'cart' ] ) ) {
                          foreach ( $pro_id as $id ) {
                            if ( $row[ 'pid' ] == $id ) {
                              $total = 0;
                              $totalprice += $row[ 'new_price' ];
                              $VAT = $totalprice * ( 5 / 100 );
                              $carttotal = $totalprice + $VAT + 5;
                              $total = $row[ 'new_price' ] * 1;
                              ?> -->
                  <tr *ngFor="let quan of quantitys" class="product">
                    <td class="product-thumbnail"><input type="hidden" name="pro_id" value="id"><a href="#"><img src="./product-img/{{quan.product.image}}" alt="cart-image" /></a></td>
                    <td class="product-name"><a href='productshop/quan.product.productId'>{{quan.product.name}}</a></td>
                    <td class="product-price">{{quan.product.price}}</td>
                    <td class="product-quantity"><input (click)="checkQuantity()" type="number" name="pro_quantity" [(ngModel)]="quan.quantity" min="1" max="99" id="pr"></td>
                    <td class="product-subtotal">{{quan.quantity * quan.product.price}}</td>
                    <td class="product-remove"><button type="button" (click)="deleteCard(quan.product.productId)" class="btn btn-cart mx-2" name="remove"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                  </tr>
                  <!-- <?php
                  }
                  }
                  } else {
                    $totalprice = 0;
                    $VAT = 0;
                    $carttotal = 0;
                    echo "<tr><td colspan='6' align='center'>No items in cart</td</tr>";
                    unset( $_SESSION[ 'cart' ] );
                    break;
                  }
                  }
                  }
                  } else {
                    echo "<tr><td colspan='6' align='center'>No items in cart</td</tr>";
                  }
                  ?> -->
                </tbody>
              </table>
            </div>
            <!-- Table Content Start -->
            <div class="row">
              <!-- Cart Button Start -->
              <div class="col-md-8 col-sm-12">
                <div class="buttons-cart"> <a href="shop">Continue Shopping</a> </div>
              </div>
              <!-- Cart Button Start -->
              <!-- Cart Totals Start -->
              <div class="col-md-4 col-sm-12">
                <div class="cart_totals float-md-right text-md-right">
                  <h2>Cart Totals</h2>
                  <br />
                  <table class="float-md-right">
                    <tbody class="totals-value">
                      <tr>
                        <th>Subtotal</th>
                        <td>
                          $<span class="amount cart-subtotal">{{subtotal().toFixed(2)}}
                            <!-- <?php if(isset($_SESSION['cart'])){echo $totalprice;}else{ echo "0";} ?> -->
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Taxes</th>
                        <td>
                          $<span class="amount vat">{{(total * 0.05).toFixed(2)}}
                            <!-- <?php if(isset($_SESSION['cart'])){echo $VAT;}else{ echo "0";} ?> -->
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Total</th>
                        <td>
                          <strong>
                            $<span class="amount cart-total">{{(total + total * 0.05).toFixed(2)}}
                              <!-- <?php if(isset($_SESSION['cart'])){echo $carttotal;}else{ echo "0";} ?> -->
                            </span>
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="wc-proceed-to-checkout">
                    <p *ngIf="Notenoughquantity != null">{{Notenoughquantity}}</p>
                    <p *ngIf="Notenoughquantity == null" class="btn btn-cart" data-toggle="modal" data-target="#exampleModalCheckout">CHECKOUT</p>

                    <!--Payment-->
                    <!--<h1>Custom Stripe Form</h1>

                    <button (click)="makePayment(20)">pay 20$</button>-->
                    <!--Payment-->

                    <div class="modal fade" id="exampleModalCheckout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLongTitle" style="color: #363f4d;">Confirm Your Information</h4>
                            <button class="btn-cart" style="float:right;">Edit Information <i class="fa fa-edit"></i></button>
                          </div>
                          <div *ngIf="customer" class="modal-body">
                            <div class="row">
                              <div class="col-md-6">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Customer:</h6>
                                <p> {{customer.name}}</p>
                              </div>
                              <div class="col-md-6">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Address:</h6>
                                <p> {{customer.address}}</p>
                              </div>
                              <div class="col-md-6">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Phone Number:</h6>
                                <p> {{customer.phoneNumber}}</p>
                              </div>
                              <div class="col-md-6">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Email:</h6>
                                <p> {{customer.mail}}</p>
                              </div>
                              <!--<div class="col-md-12">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Bank Account Number:</h6>
                                <input type="text" class="form-control" name="payment" [(ngModel)]="payment" placeholder="Enter here...">
                              </div>-->
                              <div class="col-md-12">
                                <h6 style="color:#e62e04;font-weight:bold;float:left;margin:5px 0px 5px;">Your Note:</h6>
                                <input type="text" class="form-control" name="note" [(ngModel)]="note" placeholder="Your Note...">
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-cart" data-dismiss="modal">CLOSE</button>
                            <button *ngIf="quantitys.length > 0" (click)="CheckOut()" type="button" name="checkout" class="btn btn-cart">CHECKOUT</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cart Totals End -->
            <!-- <?php
            }
            }
            } else {
              echo "<script>alert('Please login to continue!');window.location='login.php';</script>";
            }
            ?> -->
            <!-- Row End -->
          </form>
          <!-- Form End -->
        </div>
      </div>
      <!-- Row End -->
    </div>
  </div>
  <!-- Cart Main Area End -->
  <!-- Support Area Start Here -->
  <div class="support-area bdr-top">
    <div class="container">
      <div class="d-flex flex-wrap text-center">
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-gift"></i> </div>
          <div class="support-desc">
            <h6>Great Value</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-rocket"></i> </div>
          <div class="support-desc">
            <h6>Worlwide Delivery</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-lock"></i> </div>
          <div class="support-desc">
            <h6>Safe Payment</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-enter-down"></i> </div>
          <div class="support-desc">
            <h6>Shop Confidence</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-users"></i> </div>
          <div class="support-desc">
            <h6>24/7 Help Center</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Footer Area Start Here -->
  <footer class="off-white-bg2 pt-50 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Information</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="login.html">FAQs</a></li>
                  <li><a href="login.html">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Customer Service</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Extras</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list address-content">
                  <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                  <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                  <li>
                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                  </li>
                </ul>
                <div class="payment mt-25 bdr-top pt-30">
                  <a href="#"><img class="img" src="truemart/img/payment/1.png" alt="payment-image"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
      <div class="container">
        <div class="footer-middle-content pt-20 pb-30">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img1.png" alt="google play"></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img2.png" alt="app store"></a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
      <div class="container">
        <div class="copyright-text text-center">
          <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
  </footer>
  <!-- Footer Area End Here -->
</div>
<!-- Main Wrapper End Here -->
