<!-- <?php require_once('inc/top.php');?>
<title>Edit Product</title>
</head>

<body>
<?php require_once('inc/preload.php');?> -->
<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
  <app-web-form></app-web-form>
  <!-- <?php require_once('inc/web-form.php');?> -->
  <!--**********************************
            Content body start
        ***********************************-->
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./admin/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="./admin/products.php">Products</a></li>
          <li class="breadcrumb-item active">Edit Product</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <a href="./admin/products"><button class="btn btn-primary" style="float:left;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                </div>
              </div>
              <div class="card-title">
                <h3>Edit Product</h3>
              </div>
              <form #productUpdate="ngForm" (ngSubmit)="update(productUpdate.value)" enctype="multipart/form-data">

                <div class="form-group">
                  <label for="category">Product Name:*</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
                </div>
                <div class="form-group">
                  <label for="category">Price:*</label>

                  <input type="text" class="form-control" name="price" [(ngModel)]="price" required>
                </div>
                <div class="form-group">
                  <label for="category">Sale:*</label>
                  <input type="number" class="form-control" name="sale" [(ngModel)]="sale" min="0" max="100" required>
                </div>
                <div class="form-group">
                  <label for="category">Subcate:*</label>
                  <div class="box">
                    <select name="subcategoryId" [(ngModel)]="subcategoryId">
                      <option *ngFor="let subcategory of subcategories" value={{subcategory.subcategoryId}} style="color:black;">{{subcategory.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category">Status:*</label>
                  <div class="box">
                    <select name="status" [(ngModel)]="status">
                      <option value="0" style="color:black;">Saling</option>
                      <option value="1" style="color:black;">New</option>
                      <option value="2" style="color:black;">Hot</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category">Quantity:*</label>
                  <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity" min="0" max="1000" required>
                </div>
                <div class="form-group">
                  <label for="category">Description:*</label>
                  <input type="text" class="form-control" name="description" [(ngModel)]="description" required>
                </div>
                <div class="form-group">
                  <label for="category">Product Image:*</label>
                  <div name="old" style="margin-bottom: 15px;"><img src="product-img/{{image}}" width="300px"></div>
                  <label>If you want change product image. Choose new image here:</label>
                  <input type="file" class="form-control" name="image" [(ngModel)]="image">
                  <!--Loi doc file-->
                </div>
                <div class="form-group">
                  <input type="submit" value="Edit Product" name="edit-product" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- <?php
        }
        } else {
          echo "No Product Found";
        }
        ?> -->


      </div>
    </div>
  </div>

  <!--**********************************
            Content body end
        ***********************************-->
  <!--**********************************
            Footer start
        ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
            Footer end
        ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->
<!-- <?php require_once('inc/footer.php');?> -->
