<div id="main-wrapper">
  <app-web-form></app-web-form>
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./index.php">Dashboard</a></li>
          <li class="breadcrumb-item active">Orders</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3>Orders</h3>
              </div>
              <div class="table-responsive">
                <table id="table-order" class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th style="width: 10%">Order ID</th>
                      <th style="width: 20%">Customer Name</th>
                      <th style="width: 30%">Address</th>
                      <th style="width: 15%">Buy Date</th>
                      <th style="width: 15%">Status</th>
                      <th style="width: 5%">Details</th>
                      <th style="width: 5%">Delete</th>
                    </tr>
                  </thead>
                  <tbody id="table-order-body">
                    <tr *ngFor="let order of orders">
                      <td>{{order.orderId}}</td>
                      {{getCustomerById(order.customerId)}}
                      <td>{{customer.name}}</td>
                      <td>{{customer.address}}</td>
                      <td>{{order.date}}</td>
                      <td>
                        <a>
                          <button *ngIf="order.status == 0" type="button" class="btn btn-success" style="color:#fff;" disabled>Cancel</button>
                          <button *ngIf="order.status == 1" type="button" (click)="updateById(order.orderId)" class="btn btn-info">New Order</button>
                          <button *ngIf="order.status == 2" type="button" (click)="updateById(order.orderId)" class="btn btn-danger">Delivery</button>
                          <button *ngIf="order.status == 3" type="button" class="btn btn-success" style="color:#fff;" disabled>Delivered</button>
                        </a>
                      </td>
                      <td><button type="button" (click)="getOrder(order.orderId)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalOrderDetails"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                      <td><button type="button" (click)="setIdDel(order.orderId)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalDel"><i class="fa fa-trash-o"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div *ngIf="order" class="modal fade" id="exampleModalOrderDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLongTitle" style="color:#7571f9;">Order Details</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Order ID:</h6>
                      <p>{{order.orderId}}</p>
                    </div>
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Date:</h6>
                      <p>{{order.date}}</p>
                    </div>
                    {{getCustomerById(order.customerId)}}
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Customer:</h6>
                      <p>{{customer.name}}</p>
                    </div>
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Address:</h6>
                      <p>{{customer.address}}</p>
                    </div>
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Email:</h6>
                      <p>{{customer.mail}}</p>
                    </div>
                    <div class="col-md-6">
                      <h6 style="color:#ea5774;font-weight:500;">Phone Number:</h6>
                      <p>{{customer.phoneNumber}}</p>
                    </div>
                    <div class="col-md-12">
                      <h6 style="color:#ea5774;font-weight:500;">Order Note:</h6>
                      <p>{{order.note}}</p>
                    </div>
                    <div class="table-responsive">
                      <table id="table-detail-<?php echo $order_id?>" class="table table-bordered table-striped table-hover">
                        <tr>
                          <th style="width: 26%">Images</th>
                          <th style="width: 26%">Product</th>
                          <th style="width: 16%">Price</th>
                          <th style="width: 16%">Quantity</th>
                          <th style="width: 16%">Total</th>
                        </tr>
                        <!-- <?php
      $total_price = 0;
      $querydetail = "SELECT `detail_order`.*, `order`.*, `product`.* FROM `detail_order` LEFT JOIN `order` ON `detail_order`.`cart_id` = `order`.`order_id` LEFT JOIN `product` ON `detail_order`.`pro_id` = `product`.`pid` WHERE `detail_order`.`cart_id` = '$order_id';";
      $rundetail = mysqli_query( $conn, $querydetail );
      if ( mysqli_num_rows( $rundetail ) > 0 ) {
        while ( $rowdetail = mysqli_fetch_array( $rundetail ) ) {
          $pro_img = $rowdetail[ 'img' ];
          $pro_name = $rowdetail[ 'pname' ];
          $pro_quantity = $rowdetail[ 'quantity' ];
          $pro_price = $rowdetail[ 'new_price' ];
          $pro_total = $pro_quantity * $pro_price;
          ?> -->
                        <tr *ngFor="let detail of getOrderDetailsByOrderId(order.orderId)">
                          {{getProductById(detail.productId)}}
                          <td><img src="images/products/{{product.image}}" width="50%"></td>
                          <td>{{product.name}}</td>
                          <td>{{product.price}}$</td>
                          <td>{{detail.quantity}}</td>
                          <td>{{detail.totalPrice}}$</td>
                        </tr>
                        <!-- <?php
      $total_price += $pro_total;
      }
      }
      ?> -->
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th style="color: #ea5774;">Sub Total:</th>
                          <th style="color: #ea5774;">$ <?php echo $total_price?></th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th style="color: #ea5774;">Shipping:</th>
                          <th style="color: #ea5774;">$ 5</th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th style="color: #ea5774;">Taxes:</th>
                          <th style="color: #ea5774;">$ <?php echo $total_price*0.05?></th>
                        </tr>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th style="color: #ea5774;">Total:</th>
                          <th style="color: #ea5774;">$ <?php echo $total_price + $total_price*0.05 + 5?></th>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel" style="margin: auto;">Are you sure to delete Order ID: <?php echo $order_id?> ?</h3>
                </div>
                <div class="modal-footer" style="margin: auto;">
                  <button type="button" (click)="setNullIdDel()" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                  <a>
                    <button type="button" (click)="delete()" class="btn btn-danger">Yes, delete it !</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- <?php
          }
          } else {
            echo "No Categories Found";
          }
          ?> -->
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
            Content body end
        ***********************************-->
  <!--**********************************
            Footer start
        ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
            Footer end
        ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->
<!-- <?php require_once('inc/footer.php');?> -->
