<!--<?php require_once('inc/top.php'); ?>
<title>Sub Categories</title>

<?php
if (isset($_GET['del']) and isset($_SESSION['usernameadmin'])) {
    $del_id = $_GET['del'];
    $del_query = "DELETE FROM `subcategory` WHERE `subcate_id` = '$del_id'";
    //$del_run
    if (mysqli_query($conn, $del_query)) {
        echo "
<script>alert('Delete sub-category success! Category has been deleted.');window.location='./sub-categories.php'</script>";
  }
  else{
    echo "
<script>alert('Delete sub-category fail! Some error has occurred.');window.location='./sub-categories.php'</script>";
    }
}
?>-->
<head>
  <title>Sub Categories</title>
</head>

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <app-web-form></app-web-form>
  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./admin/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Sub-Categories</li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h4>Add Sub-Category</h4>
              </div>
              <form #subcategoryAdd="ngForm" (ngSubmit)="add(subcategoryAdd.value)" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="category">Category Name:*</label>
                  <div class="box">
                    <select name="categoryId" [(ngModel)]="categoryId">
                      <option *ngFor="let category of categories" value={{category.categoryId}} style="color:black;">{{category.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" style="background-color: transparent">
                  <label for="subcategory">Sub-Category Name:*</label>
                  <input type="text" placeholder="Sub-Category Name" class="form-control" name="name" [(ngModel)]="name" required>
                </div>
                <input type="submit" value="Add Sub-Category" name="add-subcategory" class="btn btn-primary">
              </form>
            </div>
          </div>
          <div *ngIf="subcategoryUp" class="card">
            <div class="card-body">
              <div class="card-title">
                <h4>Edit Sub-Category</h4>
              </div>
              <form #categoryUpdate="ngForm" (ngSubmit)="update(subcategoryUp.subcategoryId, subcategoryUpdate.value)">
                <div class="form-group">
                  <label for="category">Edit Category Name:*</label>
                  <div class="box">
                    <select name="categoryId" [(ngModel)]="categoryId">
                      <option *ngFor="let category of categories" value={{category.categoryId}} style="color:black;">{{category.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="subcategory">Edit Sub-Category Name:*</label>
                  <input type="text" placeholder="Sub-Category Name" class="form-control" name="name" [(ngModel)]="nameUp" required>
                </div>
                <input type="submit" value="Edit Sub-Category" name="edit-subcategory" class="btn btn-primary">
                <button type="button" class="btn btn-danger" style="float: right;" (click)="setSubcategoryUpNull()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3>Sub-Categories</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Sub-Categories ID</th>
                      <th>Sub-Categories Name</th>
                      <th>Categories ID</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let subcategory of subcategories">
                      <td>{{subcategory.subcategoryId}}</td>
                      <td>{{subcategory.name}}</td>
                      <td>{{subcategory.categoryId}}</td>
                      <td><button type="button" class="btn btn-primary" (click)="getSubcategoryById(subcategory.subcategoryId)"><i class="fa fa-pencil"></i></button></td>
                      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getSubcategoryDel(subcategory.subcategoryId)"><i class="fa fa-close"></i></button></td>
                    </tr>
                  </tbody>
                </table>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel" style="margin: auto;text-align: center;">Are you sure to delete<br> Sub-Category {{subcategoryDel.subcategoryId}}. {{subcategoryDel.name}} ?</h3>
                      </div>
                      <div class="modal-footer" style="margin: auto;">
                        <button type="button" class="btn btn-danger" (click)="delete(subcategoryDel.subcategoryId)">Yes, delete it !</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->
  <!--**********************************
      Footer start
  ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
      Footer end
  ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->
<!--<?php require_once('inc/footer.php'); ?>-->
