<!--<?php require_once('inc/top.php');?>
<title>Profile</title>
</head>-->

<body>
  <!--<?php require_once('inc/preload.php');?>-->
  <!--**********************************
          Main wrapper start
      ***********************************-->
  <div id="main-wrapper">
    <!--<?php require_once('inc/web-form.php');?>-->
    <app-web-form></app-web-form>

    <!--**********************************
              Content body start
          ***********************************-->
    <div class="content-body">
      <div class="row page-titles mx-0">
        <div class="col p-md-0">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.php">Dashboard</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="basic-list-group">
                  <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-3 mb-4 mb-sm-0">
                      <div class="list-group" id="list-tab" role="tablist"> <a class="list-group-item list-group-item-action active show" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a> <a class="list-group-item list-group-item-action" id="list-edit-profile-list" data-toggle="list" href="#list-edit-profile" role="tab" aria-controls="editprofile" aria-selected="false">Edit Profile</a> </div>
                    </div>
                    <div class="col-xl-8 col-md-8 col-sm-9">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="list-profile">
                          <div class="panel-body">
                            <div class="row-title">
                              <h4>Profile</h4>
                            </div>
                            <p><strong>Username:</strong> <?php echo $info_username?></p>
                            <p><strong>Full Name:</strong> <?php echo $info_name?></p>
                            <p><strong>Phone Number:</strong> <?php echo $info_phonenumber?></p>
                            <p><strong>Email:</strong> <?php echo $info_email?></p>
                            <p><strong>Address:</strong> <?php echo $info_address?></p>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="list-edit-profile" role="tabpanel">
                          <div class="panel-body">
                            <div class="row-title">
                              <h4>Edit Profile</h4>
                            </div>
                            <div class="form-validation">
                              <form class="form-valide" action="inc/process.php" method="post">
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-yourname">Full Name <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-yourname" name="yourname" placeholder="Enter full name.." value="<?php echo $info_name;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-phoneus">Phone Number <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-phoneus" name="phone" placeholder="212-999-0000" value="<?php echo $info_phonenumber;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-email">Email <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-email" name="val-email" placeholder="Your valid email.." value="<?php echo $info_email;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-address">Address <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-address" name="address" placeholder="Enter your address." value="<?php echo $info_address;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-username">Username <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="text" class="form-control" id="val-username" name="username" placeholder="Enter a username.." value="<?php echo $info_username;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-password">Password <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="password" class="form-control" id="val-password" name="password" placeholder="Enter new password" value="<?php echo $info_password;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label class="col-lg-4 col-form-label" for="val-confirm-password">Confirm Password <span class="text-danger">*</span> </label>
                                  <div class="col-lg-6">
                                    <input type="password" class="form-control" id="val-confirm-password" name="val-confirm-password" placeholder="Repeat the password" value="<?php echo $info_password;?>" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-lg-8 ml-auto">
                                    <button type="submit" class="btn btn-primary" name="edit-user" value="<?php echo $info_id;?>">Edit</button>
                                  </div>
                                </div>
                              </form>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #/ container -->
    </div>
    <!--**********************************
              Content body end
          ***********************************-->
    <!--**********************************
              Footer start
          ***********************************-->
    <div class="footer">
      <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
      </div>
    </div>
    <!--**********************************
              Footer end
          ***********************************-->
  </div>
  <!--**********************************
          Main wrapper end
      ***********************************-->
  <!--<?php require_once('inc/footer.php');?>-->
