<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<!-- Main Wrapper Start Here -->
<div class="wrapper">
  <!-- <?php require_once('inc/header.php');?> -->
  <app-truemart-form></app-truemart-form>
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-area mt-30">
    <div class="container">
      <div class="breadcrumb">
        <ul class="d-flex align-items-center">
          <li><a href="#">Home</a></li>
          <li><a href="./shop">Shop</a></li>
          <li class="active"><a href="#">Products</a></li>
        </ul>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Breadcrumb End -->
  <!-- Product Thumbnail Start -->
  <div class="main-product-thumbnail ptb-100 ptb-sm-60">
    <div class="container">
      <!-- <?php
      $id = $_GET[ 'id' ];
      $query = "select * from `product` where pid ='$id'";
      $run = mysqli_query( $conn, $query );
      if ( mysqli_num_rows( $run ) > 0 ) {
        while ( $row = mysqli_fetch_array( $run ) ) {
          $pro_id = $row[ 'pid' ];
          $pro_name = $row[ 'pname' ];
          $pro_sale = $row[ 'sale' ];
          $pro_price = $row[ 'price' ];
          $pro_newprice = $row[ 'new_price' ];
          $pro_subcate = $row[ 'subcate_id' ];
          $pro_des = $row[ 'descr' ];
          $pro_image = $row[ 'img' ];
          ?> -->
      <form>
        <input type="hidden" name="pro_id" value="<?php echo $pro_id?>">
        <div class="thumb-bg">
          <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5 mb-all-40">
              <!-- Thumbnail Large Image start -->
              <div class="tab-content">
                <div id="thumb1" class="tab-pane fade show active"> <a data-fancybox="images" href="../product-img/adidas_W.N.D._Primeblue_Jacket_Gold.jpg"><img src="../product-img/adidas_W.N.D._Primeblue_Jacket_Gold.jpg" alt="product-view"></a> </div>
              </div>
              <!-- Thumbnail Large Image End -->
              <!-- Thumbnail Image End -->
            </div>
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7">
              <div class="thubnail-desc fix">
                <h3 class="product-header">adidas_W.N.D._Primeblue_Jacket_Gold</h3>
                <div class="rating-summary fix mtb-10">
                  <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                  <div class="rating-feedback"> <a href="#">(1 review)</a><br /><a href="#">add to your review</a> </div>
                </div>
                <div class="pro-price mtb-30">
                  <p class="d-flex align-items-center">
                    <!-- <?php
                    if ( $pro_sale > 0 ) {
                      ?> -->
                    <span class="prev-price">$ 20</span> <span class="price">$ 18</span> <span class="saving-price">save 10%</span>
                    <!-- <?php
                    } else {
                      ?> -->
                    <!--<span class="price">$<?php echo $pro_newprice?></span>-->
                    <!-- <?php
                    }
                    ?> -->
                  </p>
                </div>
                <div class="box-quantity d-flex hot-product2">
                  <input type="hidden" name="pro_qty" value="1">
                  <div class="pro-actions">
                    <div class="actions-primary">
                      <input type="submit" title="Add to Cart" name="p_add" value="Add To Cart">
                    </div>
                  </div>
                </div>
                <div class="socila-sharing mt-25">
                  <ul class="d-flex">
                    <li>share</li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Thumbnail Description End -->
          </div>
          <!-- Row End -->
        </div>
      </form>
    </div>
    <!-- Container End -->
  </div>
  <!-- Product Thumbnail End -->
  <!-- Product Thumbnail Description Start -->
  <div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="main-thumb-desc nav tabs-area" role="tablist">
            <li><a class="active" data-toggle="tab" href="#dtail">Product Details</a></li>
            <li><a data-toggle="tab" href="#review">Reviews</a></li>
          </ul>
          <!-- Product Thumbnail Tab Content Start -->
          <div class="tab-content thumb-content border-default">
            <div id="dtail" class="tab-pane fade show active">
              <p><?php echo $pro_des?></p>
            </div>
            <div id="review" class="tab-pane fade">
              <!-- Reviews Start -->
              <div class="review border-default universal-padding">
                <h2 class="review-title mb-20">
                  You're reviewing:
                </h2>
                <!-- Reviews Field Start -->
                <div class="riview-field">
                  <div class="form-group">
                    <label class="req" for="sure-name">Nickname</label>
                    <input type="text" class="form-control" id="sure-name" required>
                  </div>
                  <div class="form-group">
                    <label class="req" for="comments">Review</label>
                    <textarea class="form-control" rows="5" id="comments" required></textarea>
                  </div>
                  <button class="customer-btn" onClick="submit_review()">Submit Review</button> 
                </div>
                <!-- Reviews Field Start -->
              </div>
              <!-- Reviews End -->
              <!-- Reviews Start -->
              <div class="review border-default universal-padding mt-30">
                <div class="group-title">
                  <h2>customers review</h2>
                </div>
                <div class="review border-default universal-padding mt-30">
                  <h2 class="review-title">
                    User 1
                  </h2>
                  <!-- Reviews Field Start -->
                  <div class="riview-field">
                    <div class="form-group">
                      <label class="req" for="date">2/4/2021</label>
                    </div>
                    <div class="form-group">
                      <label class="req" for="comments">BIG TREFOIL TEE\r\nA COTTON GRAPHIC TEE CELEBRATING THE TREFOIL.\r\nGet into a \'70s groove. Pulled from the archives, this adidas Trefoil tee keeps your t-shirt game fresh and clean. All-cotton jersey feels soft to the touch.</label>
                    </div>
                  </div>
                </div>
                <div class="review border-default universal-padding mt-30">
                  <h2 class="review-title">
                    User 2
                  </h2>
                  <!-- Reviews Field Start -->
                  <div class="riview-field">
                    <div class="form-group">
                      <label class="req" for="date">2/4/2021</label>
                    </div>
                    <div class="form-group">
                      <label class="req" for="comments">KEY SPORT POLO SHIRT\r\nSPORT-INSPIRED STYLE FOR THE GOLF COURSE.\r\nBring fresh, classic style to your golf game. Every drive comes alive when you feel good. The adidas Key Sport Polo Shirt offers lightweight comfort for blue-sky days on the links.</label>
                    </div>
                  </div>
                </div>
                <div class="review border-default universal-padding mt-30">
                  <h2 class="review-title">
                    User 3
                  </h2>
                  <!-- Reviews Field Start -->
                  <div class="riview-field">
                    <div class="form-group">
                      <label class="req" for="date">2/4/2021</label>
                    </div>
                    <div class="form-group">
                      <label class="req" for="comments">ADIDAS PANTS\r\nWIDE-LEG PANTS WITH UTILITY-INSPIRED DETAILS.\r\nWhen you think of Copenhagen, what comes to mind? The adidas Bellista collection looked to the streets of one of the world\'s most exciting fashion capitols to bring that image and feeling to the body. The roomy drape of the adidas Pants elicits a sense of movement as you wander your own city. Snap buttons on the cuffs add an unexpected touch, nodding to Copenhagen\'s high attention to detail. Because no detail is too small to make a difference.</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Reviews End -->
            </div>
          </div>
          <!-- Product Thumbnail Tab Content End -->
        </div>
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>
  <!-- <?php
  }
  } else {
    echo "No Product Found";
  }
  ?> -->
  <!-- Product Thumbnail Description End -->
  <!-- Realted Products Start Here -->
  <div class="hot-deal-products off-white-bg pt-100 pb-90 pt-sm-60 pb-sm-50">
    <div class="container">
      <!-- Product Title Start -->
      <div class="post-title pb-30">
        <h2>Realted Products</h2>
      </div>
      <!-- Product Title End -->
      <!-- Hot Deal Product Activation Start -->
      <div class="hot-deal-active owl-carousel">
        <!-- Single Product Start -->
        <form>
          <input type="hidden" name="pro_id" value="1">
          <div class="single-product">
            <!-- Product Image Start -->
            <div class="pro-img"> <a href="#"> <img class="primary-img" src="../product-img/Big_Trefoil_Shorts_Tee_Set_Blue.jpg" alt="single-product"></a></div>
            <!-- Product Image End -->
            <!-- Product Content Start -->
            <div class="pro-content">
              <div class="pro-info">
                <input type="hidden" name="pro_id" value="1">
                <h4><a href="#">ABC</a></h4>
                <p><span class="price">$20</span><del class="prev-price">$18</del></p>
                <div class="label-product l_sale">10<span class="symbol-percent">%</span></div>
              </div>
              <div class="pro-actions">
                <div class="actions-primary">
                  <input type="submit" title="Add to Cart" name="p_add" value="+ Add To Cart">
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Single Product End -->
        <!-- Hot Deal Product Active End -->
      </div>
      <!-- Product Content End -->
    </div>
    <!-- Container End -->
  </div>
  <!-- Realated Products End Here -->
  <!-- Support Area Start Here -->
  <div class="support-area bdr-top">
    <div class="container">
      <div class="d-flex flex-wrap text-center">
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-gift"></i> </div>
          <div class="support-desc">
            <h6>Great Value</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-rocket"></i> </div>
          <div class="support-desc">
            <h6>Worlwide Delivery</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-lock"></i> </div>
          <div class="support-desc">
            <h6>Safe Payment</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-enter-down"></i> </div>
          <div class="support-desc">
            <h6>Shop Confidence</h6>
          </div>
        </div>
        <div class="single-support">
          <div class="support-icon"> <i class="lnr lnr-users"></i> </div>
          <div class="support-desc">
            <h6>24/7 Help Center</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
  <!-- Footer Area Start Here -->
  <footer class="off-white-bg2 pt-50 bdr-top pt-sm-55">
    <!-- Footer Top Start -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Information</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="about.html">About Us</a></li>
                  <li><a href="#">Delivery Information</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="contact.html">Terms & Conditions</a></li>
                  <li><a href="login.html">FAQs</a></li>
                  <li><a href="login.html">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Customer Service</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">Extras</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list">
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
          <!-- Single Footer Start -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer mb-sm-40">
              <h3 class="footer-title">My Account</h3>
              <div class="footer-content">
                <ul class="footer-list address-content">
                  <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
                  <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
                  <li>
                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
                  </li>
                </ul>
                <div class="payment mt-25 bdr-top pt-30">
                  <a href="#"><img class="img" src="truemart/img/payment/1.png" alt="payment-image"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Footer Start -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Top End -->
    <!-- Footer Middle Start -->
    <div class="footer-middle text-center">
      <div class="container">
        <div class="footer-middle-content pt-20 pb-30">
          <ul class="social-footer">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img1.png" alt="google play"></a></li>
            <li><a href="#"><img src="truemart/img/icon/social-img2.png" alt="app store"></a></li>
          </ul>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Middle End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom pb-30">
      <div class="container">
        <div class="copyright-text text-center">
          <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Footer Bottom End -->
  </footer>
  <!-- Footer Area End Here -->
</div>
<!-- Main Wrapper End Here -->
