
<head>
  <title>User</title>
</head>

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">
  <app-web-form></app-web-form>
  <!--**********************************
          Content body start
      ***********************************-->
  <div class="content-body">
    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </div>
    </div>
    <div class="container-fluid ">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3>Users</h3>
            </div>
            <a href="./user-add">
              <button style="margin-bottom: 20px" class='btn btn-primary'><span style="margin-right: 10px">Add User</span><i class="fa fa-plus"></i></button>
            </a>
            <div class="table-responsive">
              <!--<?php
    if ( isset( $error ) ) {
    echo "<span style='color:red;font-size: 15px;'>$error</span>";
    } else if ( isset( $success ) ) {
    echo "<span style='color:green;font-size: 15px;'>$success</span>";
    }
    //										else{
    //											echo "<span style='font-size: 15px;'>Messages should be displayed here</span>";
    //										}
    ?>-->
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th style="width:10%;" class="th-center-bold">User ID</th>
                    <th style="width:15%;" class="th-center-bold">Name</th>
                    <th style="width:15%;" class="th-center-bold">Birthday</th>
                    <th style="width:15%;" class="th-center-bold">Sex</th>
                    <th style="width:15%;" class="th-center-bold">Address</th>
                    <th style="width:15%;" class="th-center-bold">Username</th>
                    <th style="width:5%;" class="th-center-bold">Details</th>
                    <th style="width:5%;" class="th-center-bold">Edit</th>
                    <th style="width:5%;" class="th-center-bold">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cus of customers">
                    <td>{{cus.customerId}}</td>
                    <td>{{cus.name}}</td>
                    <td>{{cus.birthday}}</td>
                    <td>{{cus.sex}}</td>
                    <td>{{cus.address}}</td>
                    {{getUserName(cus.customerId)}}
                    <td>{{userName}}</td>
                    <td class="td-center"><button type="button" (click)="detail(cus.customerId)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalDetails"><i class="fa fa-info"></i></button></td>
                    <td><a href="./user-edit/{{cus.customerId}}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a></td>
                    <td><button type="button" (click)="setDeleteId(cus.customerId, cus.name)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalDelete"><i class="fa fa-close"></i></button></td>
                  </tr>
                  <div *ngIf="customer" class="modal fade bd-example-modal-lg" id="exampleModalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLongTitle" style="color:#7571f9;">User Information</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-4"><img src="./images/users/{{account.avatar}}" alt="" style="width:100%;"></div>
                            <div class="col-md-8">
                              <div class="row">
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">User ID:</h6>
                                  <p> {{customer.customerId}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Name:</h6>
                                  <p> {{customer.name}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Birthday:</h6>
                                  <p> {{customer.birthday}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Sex:</h6>
                                  <p> {{customer.sex}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Phone Number:</h6>
                                  <p> {{customer.phoneNumber}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Email:</h6>
                                  <p> {{customer.mail}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Address:</h6>
                                  <p> {{customer.address}} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Permission:</h6>
                                  {{getRoleName(account.roleId)}}
                                  <p> {{roleName }} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Username:</h6>
                                  <p> {{account.userName }} </p>
                                </div>
                                <div class="col-md-6" style="margin-bottom: 10px">
                                  <h6 style="color:#ea5774;font-weight:500;">Password:</h6>
                                  <p> {{account.password }} </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="deleteId" class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel<?php echo $user_id ?>" style="margin: auto;text-align: center;">
                            Are you sure to delete<br>
                            User {{deleteId}}. {{deleteName}} ?
                          </h3>
                        </div>
                        <div class="modal-footer" style="margin: auto;">
                          <button type="button" (click)="setNoDel()" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                          <a href="#">
                            <button type="button" (click)="delete()" class="btn btn-danger">Yes, delete it !</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<?php

        }

        } else {
        echo "0 results";
        }
        ?>-->
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
          Content body end
      ***********************************-->
  <!--**********************************
          Footer start
      ***********************************-->
  <div class="footer">
    <div class="copyright">
      <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
    </div>
  </div>
  <!--**********************************
          Footer end
      ***********************************-->
</div>
<!--**********************************
        Main wrapper end
    ***********************************-->
<!--<?php require_once('inc/footer.php');?>-->
